.App{
  background: linear-gradient(90deg, rgb(23, 16, 156) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); 
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container {
  margin-left:25%;
  padding:1px 16px;
}

